// fonts

$font-default: "Roboto", sans-serif;
$font-secondary: "";

// colors

$color-box-background: #f4f8ff;
$dark-bg: #1e2532;
$color-button: #fa8299;
$color-online: #16c607;
$color-border: #e8e8e8;
$color-light-gray: #8b8b8b;
$color-light-gray-2: #797979;
$color-dark-text: #000000;
$color-white: #fff;
$color-chat-window: #f4f8ff;
$color-label: #a3b8e0;
$color-send-btn: rgba(81, 81, 81, 0.45);
$color-bg-blue: #01aaf3;
$color-text-blue: #53a6fa;
$color-bg-gray: rgba(30, 37, 50, 0.08);
