@import "../../styles/variables";

.RightSideBar {
  width: 100%;
  max-width: 340px;
  height: 100vh;
  overflow-y: scroll;

  .logoSite {
    background-color: $dark-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 0 82px;

    .site {
      font-weight: 100;
      font-size: 20px;
      line-height: 14px;
      letter-spacing: 0.12em;
      color: $color-dark-text;
      margin-top: 10px;
    }
  }

  .ContactInfos {
    padding: 39px 36px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    row-gap: 39px;

    .ContactInfo {
      .title {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $color-light-gray;
        text-transform: uppercase;
      }

      .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $color-dark-text;
      }
    }
  }

  .labels {
    padding: 21px 36px 35px;
    border-bottom: 1px solid #e8e8e8;
    .labelsTitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $color-light-gray;
      text-transform: uppercase;
    }
    .labelsList {
      display: flex;
      column-gap: 15px;
      margin-top: 8px;

      .label {
        display: flex;
        align-items: center;
        column-gap: 7px;
        background-color: $color-label;
        padding: 0 7px 0 11px;
        border-radius: 10px;
        min-width: 66px;

        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: $color-white;
        }
      }
    }
  }

  .attachments {
    padding: 23px 36px 35px;

    .attachmentsTitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $color-light-gray;
      text-transform: uppercase;
    }
    .attachmentsList {
      display: flex;
      flex-direction: column;
      margin-top: 8px;

      .attachment {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $color-dark-text;
        position: relative;
        padding-left: 14px;
        margin-bottom: 9px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color-label;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color-text-blue;
    margin-top: 46px;
    display: inline-block;
  }

  .action {
    display: flex;
    justify-content: center;
    margin: 77px 0 65px;
  }
}
